@use '../../styles/vars';

.button {
  min-width: 100px;
  display: block;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s transform;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &__long {
    display: block;
    width: 170px;
    margin: 0 auto;
  }
  .inner {
    position: relative;
    background-color: vars.$red;
    line-height: 18px;
    padding: 0 18px;
    transition: none;
    &::before {
      border-color: vars.$red transparent;
      border-style: solid;
      border-width: 0 0 10px 10px;
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: -10px;
      transition: none;
    }
    &::after {
      border-color: vars.$red transparent;
      border-style: solid;
      border-width: 0 0 10px 10px;
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: -10px;
      transform: rotate(180deg);
      transition: none;
    }
  }
  &__main,
  &__secondary {
    &:hover {
      color: #fff;
    }
  }
  &__secondary {
    .inner {
      background-color: vars.$grey;
      &::before {
        border-color: vars.$grey transparent;
        transition: none;
      }
      &::after {
        border-color: vars.$grey transparent;
        transition: none;
      }
    }
  }
  &::before {
    content: '';
    display: block;
    height: 10px;
    margin-left: 10px;
    transition: none;
  }
  &::after {
    content: '';
    display: block;
    height: 10px;
    margin-right: 10px;
    transition: none;
  }
  &.button__main::before,
  &.button__main::after {
    background-color: vars.$red;
  }
  &.button__secondary::before,
  &.button__secondary::after {
    background-color: vars.$grey;
  }
  &:hover {
    transform: translateY(-5px);
  }
  &:disabled {
    filter: grayscale(0.3);
  }
}
