@use '../../styles/vars';

.char-content {
  &__info {
    @extend %block;
    padding: 25px;
  }
  &__block {
    display: flex;
    column-gap: 25px;
    margin-bottom: 15px;
    @include vars.media('max', 'xs') {
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
    }
  }
  &__info-name {
    display: block;
    color: #000;
    @extend %title;
    margin-bottom: 34px;
    @include vars.media('max', 'xs') {
      margin-bottom: 20px;
      text-align: center;
    }
  }
  &__btns {
    width: 50%;
    a:nth-child(1) {
      margin-bottom: 10px;
    }
    @include vars.media('max', 'xs') {
      display: flex;
      column-gap: 5px;
    }
  }
  &__info-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  &__descr {
    margin-bottom: 10px;
  }
  &__comics {
    display: block;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__comics-item {
    width: 100%;
    padding: 4px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__comics-item:not(:last-child) {
    margin-bottom: 10px;
  }
  &__link:hover {
    text-decoration: underline;
  }
  &__select {
    font-weight: 700;
    font-size: 18px;
    display: block;
    margin-bottom: 32px;
    text-align: center;
  }
}
