@use '../../../styles/vars';

.char-content {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    column-gap: 25px;
    row-gap: 30px;
    @include vars.media('max', 'xl') {
      grid-template-columns: repeat(2, 200px);
    }
    @include vars.media('max', 'lg') {
      grid-template-columns: repeat(4, 200px);
    }
    @include vars.media('max', 'md') {
      grid-template-columns: repeat(3, 200px);
    }
    @include vars.media('max', 'sm') {
      grid-template-columns: repeat(2, 200px);
    }
    @include vars.media('max', 'xs') {
      grid-template-columns: repeat(1, 200px);
    }
  }
  &__list-item {
    width: 200px;
    height: 318px;
    background-color: vars.$dark;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  &__img {
    width: 200px;
    height: 200px;
  }
  &__name {
    color: #fff;
    padding: 15px;
    @extend %title;
  }
}
