@use '../../../styles/vars';

.comics {
  padding: 50px 0;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 225px);
    row-gap: 56px;
    justify-content: space-between;
    margin-bottom: 44px;
    @include vars.media('max', 'md') {
      grid-template-columns: repeat(3, 225px);
    }
    @include vars.media('max', 'sm') {
      grid-template-columns: repeat(2, 225px);
      justify-content: space-around;
    }
    @include vars.media('max', 'xs') {
      grid-template-columns: 225px;
    }
  }
  &__link {
    display: inline-block;
  }
  &__img {
    box-shadow: (5px 5px 10px rgba(0, 0, 0, 0.25));
    width: 225px;
    height: 345px;
  }
  &__title {
    display: block;
    font-weight: 700;
    padding-top: 10px;
    margin-bottom: 5px;
  }
  &__price {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
  }
}
