@use '../../../styles/vars';

.single-page {
  &__char-img {
    max-width: 293px;
    height: 293px;
    object-fit: cover;
  }
  &__char-info {
    @include vars.media('max', 'xs') {
      text-align: center;
    }
  }
  &__char-title {
    @extend %title;
    text-transform: none;
    margin-bottom: 28px;
  }
  &__char-desc {
    font-size: 18px;
    max-width: 550px;
  }
}
