@use '../../../styles/vars';

.single-page {
  &__comic-img {
    width: 294px;
    height: 450px;
    object-fit: cover;
  }
  &__comic-info {
    max-width: 550px;
    @include vars.media('max', 'lg') {
      max-width: 470px;
    }
    @include vars.media('max', 'md') {
      max-width: 310px;
    }
    @include vars.media('max', 'xs') {
      text-align: center;
    }
  }
  &__comic-title {
    @extend %title;
    text-transform: none;
    margin-bottom: 28px;
  }
  &__comic-desc {
    margin-bottom: 25px;
    font-size: 18px;
    @include vars.media('max', 'xs') {
      margin-bottom: 18px;
    }
  }
  &__comic-price {
    font-weight: 700;
    font-size: 24px;
    color: vars.$red;
  }
  &__comic-back {
    font-weight: 700;
    font-size: 18px;
    flex-grow: 1;
    text-align: end;
    @include vars.media('max', 'sm') {
      display: none;
    }
  }
  &__comic-back:hover {
    color: vars.$red;
  }
}
